body{
    background-color: aliceblue;
}

.container1{
    background-color: transparent;
    margin: auto;
    border: 2px solid black;
    border-radius: 22px;
    height: 50vh;
    width: 60vw;
    text-align: center;
}

.container2{
    padding-top: 20vh;
    border-radius: 22px;
    margin: auto;
    text-align: center;
    border: 2px solid black;
    height: 20vh;
    width: 60vw;
}
.result{
    font-style: italic;
    margin-top: -10vh;
    text-align: center;
}

.prompt{
    margin-bottom: -60px;
    text-align: center;
}